<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grepp.spring.app.model.product.ProductRepository">

  <resultMap id="productMap" type="com.grepp.spring.app.model.product.dto.Product">
  </resultMap>

  <select id="selectAll" parameterType="com.grepp.spring.app.model.product.dto.Product">
    <!-- join 해서 product image도 같이 가져오기-->
    select * from product;
  </select>

  <insert id="insert" parameterType="com.grepp.spring.app.model.product.dto.Product" useGeneratedKeys="true" keyProperty="id">
    insert into product(name, price, amount, info) values (#{name}, #{price}, #{amount}, #{info})
  </insert>

  <insert id="insertImage" parameterType="com.grepp.spring.app.model.product.dto.ProductImg">
    insert into product_image(product_id, ORIGIN_FILE_NAME, RENAME_FILE_NAME, SAVE_PATH)
    values (#{productId}, #{originFileName}, #{renameFileName}, #{savePath})
  </insert>

</mapper>